body {
	margin: 0;
	font-size: 10px;
	font-family: monospace;
}

.graphics > div {
	box-sizing: border-box;
	float: left;
	width: 450px;
	height: 300px;
	margin: 5px 0;
	display: block;
	content: ' ';
}

.graphics:after {
	display: block;
	content: '';
	clear: both;
}

.graphics > div#mysql,
.graphics > div#redis,
.graphics > div#pg-bouncer,
.graphics > div#nginx,
.graphics > div#fpm {
	display: none;
}

.info {
	color: grey;
	text-align: center;
	margin: 15px;
	height: 60px;
}

.info a,
.info a:visited {
	color: grey;
}

.info a:hover {
	text-decoration: none;
}

.info div {
	margin-bottom: 5px;
}